.Map {
  div {
    border: none !important;
  }

  .marker {
    width: 4dvh;
    height: 5dvh;
  }

  .cover-img {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);

    .album {
      border-radius: 50%;
      width: 3.5dvh;
      height: 3.5dvh;
    }
  }

  .common_cluster {
    border-radius: 50%;
    backdrop-filter: blur(2px);
    background-image: none;

    &.clusterer1 {
      background-color: rgba(123, 102, 255, 0.5);
      z-index: 2;
    }
    &.clusterer2 {
      background: rgba(72, 199, 183, 0.5);
      z-index: 3;
    }
    &.clusterer3 {
      background-color: rgba(41, 182, 243, 0.5);
      z-index: 4;
    }

    > img {
      display: none;
    }
  }

  .bgc {
    background-color: black;
    position: absolute;
    inset: 0;
  }
}
