.Map {
  div {
    border: none !important;
  }

  .cover-img {
    position: absolute;
    inset: 0;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      border-radius: 50%;
      width: 27px;
      height: 27px;
    }
  }

  .common_cluster {
    border-radius: 50%;
    backdrop-filter: blur(2px);
    background-image: none;

    &.clusterer1 {
      background-color: rgba(123, 102, 255, 0.5);
      z-index: 2;
    }
    &.clusterer2 {
      background: rgba(72, 199, 183, 0.5);
      z-index: 3;
    }
    &.clusterer3 {
      background-color: rgba(41, 182, 243, 0.5);
      z-index: 4;
    }

    > img {
      display: none;
    }
  }

  .bgc {
    background-color: black;
    position: absolute;
    inset: 0;
  }

  // .Loading {
  //   background-color: #0f1114;
  // }
}
