.MapSwiper {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  z-index: 1;

  .black-bottom-gradient {
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(23, 25, 31, 0) 50%, #0f1114 100%);
  }

  .close {
    flex-grow: 1;
    z-index: 1;
  }

  .swiper {
    width: 100dvw;
    padding-bottom: 5dvh;

    .swiper-slide {
      background-position: center;
      background-size: cover;

      img {
        width: 100%;
        border-radius: 4dvh;
        filter: blur(2px);
        padding: 2dvh;
        object-fit: cover;
        aspect-ratio: 1;
      }

      .content {
        display: none;

        .title {
          font-size: 2dvh;
          font-weight: bold;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
          text-align: center;
        }

        .singer {
          font-size: 1.7dvh;
          color: #a5b2c5;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
          text-align: center;
        }
      }

      &.swiper-slide-active {
        img {
          filter: blur(0px);
          transform: scale(1.2);
          transition: transform 0.5s;
        }
        .content {
          display: flex;
          flex-direction: column;
          gap: 0.5dvh;
        }
      }
    }
  }
}

@keyframes downUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
