.QuizSubjective {
  .quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: end;

    .quiz-audio {
      margin-bottom: 1dvh;

      svg {
        font-size: 3dvh;
      }
    }
  }

  h2 {
    margin-top: 5dvh;
    margin-bottom: 1dvh;
  }

  .sub-question {
    padding: 2dvh;
    height: 40dvh;
    border-radius: 2dvh;
    background-color: rgba(123, 102, 255, 0.1);
    word-break: keep-all;
    white-space: pre-wrap;
    font-size: 2dvh;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      margin-top: 1dvh;
      margin-bottom: 1dvh;
    }
    img {
      width: 20dvh;
    }
  }

  .sub-answer {
    padding: 2dvh;
    width: 100%;
    height: 20dvh;
    border: none;
    border-radius: 2dvh;
    background-color: rgba(123, 102, 255, 0.1);
    word-break: keep-all;
    font-size: 2dvh;
    color: #ffffff;
  }
}
