.QuizClosePage {
  padding: 3dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;

  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header {
      text-align: center;
      font-size: 1.9dvh;
    }
    
  }
}