.quiz-button {
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease;

  &.visible {
    opacity: 1;
  }

  button {
    width: 90dvw;
    height: 8dvh;
    border-radius: 2dvh;
    border: none;
    background-color: var(--main-color);
    color: #ffffff;
    font-size: 2dvh;
    cursor: pointer;
  }
}