@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


.QuizMainPage {
  padding: 2dvh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .quiz-header {
    img {
      width: 40dvh;
      opacity: 0;
      animation: popIn 0.6s ease-out forwards;
      animation-delay: 0.2s
    }
    p {
      word-break: keep-all;
      text-align: center;
      margin-top: 3dvh;
      font-size: 2.5dvh;
      opacity: 0;
      animation: popIn 0.6s ease-out forwards;
      animation-delay: 0.9s; 
    }
  }

  .quiz-info {
    margin-top: 3dvh;
    opacity: 0; 
    animation: popIn 0.6s ease-out forwards;
    animation-delay: 1.6s; 
  }
}