.QuizCouponPage {
  padding: 1dvh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .quiz-coupon-header {
    margin-top: 7dvh;
    text-align: center;
  }
  .quiz-coupon-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 50%;
    }
    h2 {
      margin-top: 2dvh;
    }
  }
  .quiz-coupon-footer {
    border-radius: 2dvh;
    background-color: rgba(123, 102, 255, 0.1);
    padding: 2dvh;
    margin-top: 5dvh;
    margin-left: 2dvh;
    margin-right: 2dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-break: keep-all;
    text-align: center;
    font-size: 2.3dvh;
    p {
      margin: 1dvh;
    }
  }
  .quiz-coupon-button {
    padding: 2dvh;
    button {
      border: none;
      width: 100%;
      height: 8dvh;
      margin-top: 2dvh;
      border-radius: 2dvh;
      background-color: var(--main-color);
      color: #ffffff;
      font-size: 2.5dvh;
      cursor: pointer;
    }
  }
}
