.MusicDropBody {
  padding: 3dvh;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2dvh;

  .top {
    flex: 1;
    background-color: #17191f;
    border-radius: 1dvh;
    padding: 3dvh;
    display: flex;
    flex-direction: column;
    gap: 2dvh;

    .option {
      display: flex;
      justify-content: end;
      svg {
        color: #7b66ff;
      }
    }

    .content {
      flex: 1;
      font-size: 2.2dvh;
    }

    .date {
      text-align: end;
      color: #7b8696;
      font-size: 2dvh;
    }
  }

  .bottom {
    display: flex;
    gap: 2dvh;

    button {
      border: none;
      color: white;
      background-color: #17191f;
      font-size: 2.2dvh;
      padding-block: 2dvh;
      border-radius: 1dvh;

      &.listen {
        flex: 3;
        display: flex;
        gap: 1dvh;
        align-items: center;
        justify-content: center;

        img {
          width: 3.5dvh;
          height: 3.5dvh;
        }
      }

      &.pick {
        flex: 2;
      }
    }
  }
}
