.MusicDropHeader {
  height: 50dvh;
  position: relative;

  .album-image {
    width: 100dvw;
    height: 100%;
    object-fit: cover;
  }

  .cover {
    position: absolute;
    inset: 0;

    .content {
      position: absolute;
      inset: 0;
      display: flex;
      flex-direction: column;

      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .volume {
          padding: 2dvh;

          svg {
            font-size: 2.5dvh;
            cursor: pointer;
          }
        }
      }

      .content-bottom {
        flex: 1;
        padding-bottom: 3dvh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2dvh;

        > .info {
          display: flex;
          flex-direction: column;
          align-items: center;

          .title {
            font-size: 2.2dvh;
            font-weight: bold;
            width: calc(100vw - 6vh);
            overflow: hidden;

            > div {
              width: 100%;
              white-space: nowrap;
              text-align: center;

              &.animated {
                animation: scroll 15s linear infinite;
              }
            }
          }

          .artist {
            font-size: 1.7dvh;
            color: #a5b2c5;
            font-weight: bold;
          }
        }

        .upload-image-div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 30dvh;
          flex-grow: 1;
          aspect-ratio: 1;

          .upload-image {
            width: 100%;
            height: 100%;
            border-radius: 2dvh;
            cursor: pointer;
            object-fit: cover;
          }

          svg {
            font-size: 4dvh;
            color: #5d6470;
            cursor: pointer;
            position: absolute;
          }
        }
      }
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-220%);
  }
}
