.put-btn-div {
  width: 100%;

  .put-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: white;
    height: 6dvh;
    border: none;
    border-radius: 1.5dvh;
    font-size: 1.7dvh;
    transition: background-color 0.1s ease;

    &:active {
      background-color: #9382ff;
    }
  }
}
