.put-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  
  .put-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: white;
    height: 8dvh;
    border: none;
    border-radius: 2dvh;
    font-size: 2dvh;
    width: 40dvh;
    transition: background-color 0.1s ease;

    &:active {
      background-color: #9382FF;
    }
  }
}