.MusicDrop {

  .drop-bg {
    width: 100dvw;
    height: 35dvh;
    display: flex;
    justify-content: center;
    align-items: center;

    .flex-div {
      display: flex;
      flex-direction: column;
    }

    .upload-image-div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: white;
      width: 20dvh;
      height: 20dvh;
      border-radius: 100dvh;

      .upload-image {
        width: inherit;
        height: inherit;
        border-radius: 100dvh;
      }
    }

    svg {
      width: 4dvh;
      height: 4dvh;
      color: #5D6470;
    }
  }

  .reselect-image {
    font-size: 1.4vh;
    color: #000000;
    text-decoration: underline;
    text-align: center;
    
    &:active {
      color: var(--placeholder-color);
    }
  }

  .body {
    padding: 3dvh;
    display: flex;
    flex-direction: column;
    gap: 4dvh;

    .header {
      font-weight: bold;
      font-size: 2.9vh;
      text-align: center;

      p {
        span {
          color: var(--main-color);
        }
      }
    }

    .input-div {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      textarea::placeholder {
        color: var(--placeholder-color);
        font-size: 1.5dvh;
        white-space: pre-line;
      }
      
      :focus {
        outline: none;
      }
      
      .input-area {
        padding: 2dvh;
        width: 40dvh;
        height: 15dvh;
        background-color: var(--input-box-color);
        border: none;
        border-radius: 1vh;
        caret-color: white;
        color: #ffffff;
        resize: none;
        overflow: auto;
      }

      .input-count {
        z-index: 1;
        color: var(--placeholder-color);
        font-size: 1.5vh;
        position: absolute;
        right: 2vh;
        bottom: 2dvh;
      }
    }

    .waring-div {
      display: flex;
      justify-content: center;
      align-items: center;

      .warning-msg {
        color: #F6F5FF;
        font-size: 1.5vh;
        opacity: 0.4;
        width: 40dvh;
      }
    }

    .put-btn-div {
      display: flex;
      justify-content: center;
      align-items: center;
      
      .put-btn {
        background-color: var(--main-color);
        color: white;
        height: 8dvh;
        border: none;
        border-radius: 2dvh;
        font-size: 2dvh;
        width: 40dvh;
      }
    }
  }
}