.PlayListBody {
  display: flex;
  flex-direction: column;
  gap: 1dvh;

  .ref-div {
    background-color: red;
    width: 100dvw;
  }

  .result-item {
    padding-bottom: 1dvh;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    .content-container {
      display: flex;
      align-items: center;
      gap: 1dvh;

      .image-container {
        display: flex;
        cursor: pointer;
        img {
          width: 6dvh;
          height: 6dvh;
          border-radius: 1dvh;
        }
      }

      .item-wide {
        display: flex;
        align-items: center;
        overflow: hidden;
        flex-grow: 1;
        justify-content: space-between;
        gap: 1dvh;

        .item-detail {
          overflow: hidden;
          flex-grow: 1;
          cursor: pointer;

          .item-title {
            font-size: 1.7dvh;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }

          .item-artist {
            font-size: 1.5dvh;
            font-weight: 500;
            color: var(--placeholder-color);
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }

        .item-detail-btn {
          color: var(--main-color);
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          svg {
            font-size: 2.5dvh;
          }

          &:active {
            background-color: var(--input-box-color);
            border-radius: 50%;
          }
        }
      }
    }
    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  .no-word-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .title {
      font-weight: bold;
    }

    .subtitle {
      font-size: 2dvh;
      color: var(--placeholder-color);
    }
  }
}
