.PlayListBody {
  display: flex;
  flex-direction: column;
  gap: 1dvh;

  .ref-div {
    background-color: red;
    width: 100dvw;
  }

  .item-body {
    display: flex;
    flex-direction: column;
    gap: 1dvh;
  }

  .no-word-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .title {
      font-size: 2.2dvh;
      font-weight: bold;
    }

    .subtitle {
      font-size: 2dvh;
      color: var(--placeholder-color);
    }
  }
}
