.PlayListDirectListenModal {
  .modal-body {
    font-size: 1.5dvh;
    padding: 1dvh;
    margin-top: 1dvh;
    animation: slideDown 0.5s ease forwards;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1dvh;
    cursor: pointer;

    .img-container {
      display: flex;
      img {
        width: 2.5dvh;
      }
    }

    &:active {
      background-color: var(--input-box-color);
      border-radius: 2dvh;
    }
  }

  @keyframes slideDown {
    from {
      transform: translateY(-50%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
