server:
  port: 8083

spring:
  application:
    name: batch

  eureka:
    client:
      service-url:
        default-zone: http://localhost:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include: "*"
