.MusicPickDetailTop {
  height: 50dvh;
  position: relative;

  .album-image {
    width: 100dvw;
    height: 100%;
    object-fit: cover;
  }

  .cover {
    position: absolute;
    inset: 0;

    .black-cover {
      background-color: rgba(15, 17, 20, 0.2);
      position: absolute;
      inset: 0;
    }

    .black-gradient {
      background: linear-gradient(
        180deg,
        rgba(15, 17, 20, 0.2) 0%,
        #0f1114 100%
      );
      width: 100%;
      height: 100%;
    }

    .content {
      position: absolute;
      inset: 0;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .content-bottom {
        flex: 1;
        padding-bottom: 3dvh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2dvh;

        .music-info {
          display: flex;
          flex-direction: column;
          align-items: center;

          .title {
            font-size: 2.2dvh;
            font-weight: bold;
            width: calc(100vw - 6vh);
            overflow: hidden;

            > div {
              width: 100%;
              white-space: nowrap;
              text-align: center;

              &.animated {
                animation: scroll 15s linear infinite;
              }
            }
          }

          .artist {
            font-size: 1.7dvh;
            color: #a5b2c5;
            font-weight: bold;
          }
        }

        .music-cover {
          height: 30dvh;
          flex-grow: 1;
          aspect-ratio: 1;
          position: relative;

          img {
            width: 100%;
            height: 100%;
            border-radius: 2dvh;
            object-fit: cover;
          }

          .heart {
            display: flex;
            align-items: center;
            gap: 1dvh;
            font-size: 1.7dvh;
            position: absolute;
            bottom: -10%;
            right: 5%;

            > svg {
              color: rgb(242, 162, 162);
            }
          }
        }
      }
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-220%);
  }
}
