.MusicPickDetailTop {
  height: 50dvh;
  position: relative;

  .album-image {
    width: 100dvw;
    height: 100%;
    object-fit: cover;
  }

  .cover {
    .black-cover {
      background-color: #0f1114;
      opacity: 0.5;
      position: absolute;
      inset: 0;
    }

    .black-gradient {
      background: linear-gradient(180deg, rgba(23, 25, 31, 0) 0%, #0f1114 100%);
      position: absolute;
      bottom: 0;
      height: 50dvh;
      inset-inline: 0;
    }

    .content {
      position: absolute;
      inset: 0;
      display: flex;
      flex-direction: column;

      .content-bottom {
        flex: 1;
        padding-bottom: 5dvh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2dvh;

        > div {
          display: flex;
          flex-direction: column;
          align-items: center;

          .title {
            font-size: 3dvh;
            font-weight: bold;
            width: calc(100vw - 6vh);

            overflow: hidden;

            > div {
              width: 100%;
              white-space: nowrap;
              text-align: center;

              &.animated {
                animation: scroll 5s linear infinite; /* 애니메이션 적용 */
              }
            }
          }

          .artist {
            font-size: 2dvh;
            color: #a5b2c5;
            font-weight: bold;
          }
        }

        img {
          flex: 1;
          aspect-ratio: 1;
          border-radius: 2dvh;
        }
      }
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-150%);
  }
}
// @keyframes scroll {
//   0%,
//   100% {
//     transform: translateX(100%); /* 텍스트가 오른쪽에서 시작 */
//   }
//   50% {
//     transform: translateX(-100%); /* 텍스트가 왼쪽 끝으로 이동 */
//   }
// }
