.MusicPickDetailTop {
  flex: 1;
  position: relative;

  .album-image {
    width: 100dvw;
    height: 100%;
    object-fit: cover;
  }

  .cover {
    position: absolute;
    inset: 0;

    .black-cover {
      background-color: #0f1114;
      opacity: 0.5;
      position: absolute;
      inset: 0;
    }

    .black-gradient {
      background: linear-gradient(
        180deg,
        rgba(23, 25, 31, 0) 10%,
        #0f1114 100%
      );
      position: absolute;
      bottom: 0;
      height: 20dvh;
      inset-inline: 0;
    }

    .content {
      position: absolute;
      inset: 0;
      display: flex;
      flex-direction: column;

      .content-bottom {
        flex: 1;
        padding-bottom: 5dvh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2dvh;

        > div {
          display: flex;
          flex-direction: column;
          // gap: 0.5dvh;
          align-items: center;

          .title {
            font-size: 3dvh;
            font-weight: bold;
            width: 100dvw;
            padding-inline: 3dvh;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            // .div {
            //   width: 100dvw;
            //   padding-inline: 3dvh;
            //   overflow: hidden;
            //   white-space: nowrap;
            //   text-overflow: ellipsis;
            // }

            // &.ani {
            // }

            // > .animated {
            //   animation: scroll 10s linear infinite; /* 애니메이션 적용 */
            // }
          }

          .artist {
            font-size: 2dvh;
            color: #a5b2c5;
            font-weight: bold;
          }
        }

        img {
          flex: 1;
          aspect-ratio: 1;
          // width: 20dvh;
          border-radius: 2dvh;
        }
      }
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
