.MusicPickDetailBottom {
  padding: 3dvh;
  height: 50dvh;
  display: flex;
  flex-direction: column;
  gap: 1dvh;

  .top {
    flex: 1;
    background-color: var(--input-box-color);
    border-radius: 1dvh;
    padding: 2.5dvh;
    display: flex;
    flex-direction: column;
    gap: 2dvh;

    .option {
      display: flex;
      justify-content: end;
      svg {
        color: var(--main-color);
        cursor: pointer;
        font-size: 1.7dvh;
      }
    }

    .content {
      flex: 1;
      font-size: 1.7dvh;
    }

    .date {
      text-align: end;
      font-size: 1.5dvh;
      color: var(--placeholder-color);
    }
  }

  .bottom {
    display: flex;
    gap: 1dvh;
  }
}
