.OptionModal {
  position: absolute;
  inset: 0;

  .background {
    background-color: rgba(15, 17, 20, 0.6);
    width: 100%;
    height: 100%;
  }

  .content {
    animation: downUp 0.5s;
    background-color: var(--input-box-color);
    position: fixed;
    bottom: 0;
    inset-inline: 0;
    padding: 4dvh;
    border-radius: 2dvh 2dvh 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4dvh;
    margin: 0 auto;

    .report {
      display: flex;
      color: red;
      align-items: end;
      gap: 1dvh;
      cursor: pointer;

      svg {
        font-size: 2.5dvh;
      }

      div {
        font-size: 2dvh;
      }
    }

    .close {
      background-color: transparent;
      border: none;
      color: white;
      font-size: 2dvh;
      cursor: pointer;
    }
  }
}

@keyframes downUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
