.MyLevel {
  .level-div {
    display: flex;
    flex-direction: column;
    gap: 1dvh;

    .level-info {
      display: flex;
      justify-content: space-between;

      .level-color {
        color: var(--level-gold);
        border: 2px solid var(--level-gold);
        padding: 1dvh;
        border-radius: 2dvh;
        font-size: 1.7dvh;
      }

      .drop-pick {
        display: flex;
        align-items: flex-end;
        gap: 0.5dvh;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        > div {
          font-size: 1.7dvh;
        }

        svg {
          font-size: 2dvh;
          cursor: pointer;
          color: var(--main-color);

          &:active {
            color: var(--placeholder-color);
          }
        }
      }
    }

    .level-bar {
      height: 3dvh;
      background-color: #2a2f38;
      border-radius: 1dvh;
      overflow: hidden;

      .level-bar-fill {
        height: inherit;
        background-color: linear-gradient(var(--main-color));
        border-radius: 1dvh;
        animation: fillLevelBar 0.8s ease-in-out forwards;
      }
    }
  }
}

@keyframes fillLevelBar {
  from {
    width: 0%;
  }
}
