.MyPageMenu {
  .menu-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .menu-item {
      display: flex;
      gap: 0.5dvh;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      svg {
        font-size: 3dvh;
      }

      .desc {
        font-size: 1.5dvh;
      }

      &:active {
        background-color: rgb(47, 47, 47);
        border-radius: 1dvh;
      }
    }
  }
}
