.MyThrowngHistoryMenu {
  .menu-header {
    padding-block: 2dvh;
    position: sticky;
    top: -0.005dvh;
    background: #0f1114;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .header-btn-div {
      display: flex;
      gap: 2dvh;

      .btn-item {
        font-size: 2.2dvh;
        font-weight: bold;
        cursor: pointer;

        &.active {
          color: var(--placeholder-color);
        }
      }
    }

    .song-cnt {
      font-size: 1.5dvh;
      color: var(--placeholder-color);
    }

    .filter-div {
      .filter {
        font-size: 1.5dvh;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:active {
          background-color: var(--input-box-color);
          border-radius: 1dvh;
        }
      }
    }
  }
}
