.MyThrowngHistoryFilterModal {
  position: absolute;
  inset: 0;

  .background {
    background-color: rgba($color: #0f1114, $alpha: 0.6);
    width: 100%;
    height: 100%;
  }

  .modal {
    animation: sideUp 0.8s;
    background-color: #17191f;
    position: fixed;
    bottom: 0;
    inset-inline: 0;
    border-radius: 2dvh 2dvh 0 0;
    margin: 0 auto;

    .header {
      padding: 2dvh;
      display: flex;
      justify-content: center;
      font-size: 2dvh;
      font-weight: bold;
    }

    hr {
      border-width: 1px;
      border-color: rgba(255, 255, 255, 0.1);
    }

    .body {
      padding: 3dvh;
      display: flex;
      flex-direction: column;
      gap: 3dvh;
      .body-header {
        font-size: 1.7dvh;
        font-weight: bold;
      }

      .filter-list {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .filter-item {
          cursor: pointer;
          font-size: 1.7dvh;
          padding: 1dvh;
          border-radius: 1dvh;
          border: transparent 2px solid;

          &.selected {
            border: var(--main-color) 2px solid;
          }
        }
      }
    }
  }
}

@keyframes sideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
