.MyThrowngHistoryFilterModal {
  position: absolute;
  inset: 0;

  .background {
    background-color: #0f111480;
    width: 100%;
    height: 100%;
  }

  .modal {
    animation: sideUp 0.8s;
    background-color: #17191f;
    position: fixed;
    bottom: 0;
    inset-inline: 0;
    border-radius: 2dvh 2dvh 0 0;
    margin: 0 auto;
    padding: 2dvh;

    .header {
      display: flex;
      justify-content: center;
      font-size: 1.8dvh;
      font-weight: 600;
      padding-bottom: 1dvh;
    }

    hr {
      border-width: 1px;
      border-color: rgba(255, 255, 255, 0.1);
    }

    .body {
      .body-header {
        font-size: 1.5dvh;
        font-weight: 600;
      }

      .filter-list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        .filter-item {
          font-size: 1.8dvh;
          padding: 1dvh;
          border-radius: 1dvh;
          border: transparent 2px solid;


          &.selected {
            border: var(--main-color) 2px solid;
          }
        }
      }
    }
  }
}

@keyframes sideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
