.MyThrowngHistroyList {
  padding-top: 1dvh;

  .list-body {
    display: flex;
    flex-direction: column;
    gap: 1dvh;

    .result-item {
      display: flex;
      flex-direction: column;
      gap: 0.5dvh;
      cursor: pointer;

      .item-header {
        display: flex;
        justify-content: space-between;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        .item-date {
          color: var(--placeholder-color);
          font-size: 1.5dvh;
        }

        .item-location {
          display: flex;
          align-items: center;
          color: var(--main-color);
          font-size: 1.5dvh;

          svg {
            font-size: 2dvh;
          }
        }
      }

      &:active {
        background-color: var(--input-box-color);
        border-radius: 1dvh;
      }
      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }
    }

    .no-word-container {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      .title {
        font-size: 2.2dvh;
        font-weight: bold;
      }

      .subtitle {
        font-size: 2dvh;
        color: var(--placeholder-color);
      }
    }
  }
}
