.MusicSearchInput {
  flex-grow: 1;
  padding: 1dvh 2dvh 1dvh 0;

  .input-div {
    padding: 1.7dvh;
    display: flex;
    justify-content: space-between;
    background-color: var(--input-box-color);
    border: none;
    border-radius: 1.5dvh;
    align-items: center;

    .input {
      width: 100%;
      background-color: transparent;
      border: none;
      color: white;
      font-size: 2vh;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .clear-button {
      background: transparent;
      border: none;
      cursor: pointer;
      color: var(--placeholder-color);

      &:active {
        background: none;
        border: none;
      }
    }

    input::placeholder {
      color: var(--placeholder-color);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    :focus {
      outline: none;
    }
  }
}
