.MusicSearchPage {
  .MusicSearchPage-header {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .searched-word {
    padding-inline: 3dvh;
    padding-top: 1dvh;
    padding-bottom: 3dvh;
  }
}
