.MusicList {
  height: 100dvh;
  display: flex;
  flex-direction: column;

  .MusicList-header {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .searchResults {
    padding-inline: 3dvh;
    padding-bottom: 3dvh;
    padding-top: 1dvh;
    overflow: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1dvh;

    .result-item {
      display: flex;
      gap: 1dvh;
      padding-bottom: 1dvh;
      align-items: center;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);

      .image-container {
        display: flex;

        img {
          width: 6dvh;
          height: 6dvh;
          border-radius: 1dvh;
        }
      }

      .item-wide {
        display: flex;
        align-items: center;
        overflow: hidden;
        flex: 1;

        .item-detail {
          overflow: hidden;
          width: 100%;

          .item-title {
            font-size: 1.7dvh;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }

          .item-artist {
            font-size: 1.5dvh;
            font-weight: 500;
            color: var(--placeholder-color);
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }
      &:last-child {
        border-bottom: none;
      }

      &:active {
        background-color: var(--input-box-color);
        border-radius: 1dvh;
      }
    }
  }
}
