.MusicSearchPage {
<<<<<<< HEAD
  
  .container {
    display: flex;
=======

  .MusicSearchPage-header {
    display: flex; 
    align-items: center;
    justify-content: start;
  }
  
  .searched-word {
    padding: 3dvh;
>>>>>>> fc4541909ce121d8eedbf54d6b06b950d3f74eee
  }
}