.MusicList {
  padding: 3dvh;

  .searchResults {

    .result-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1dvh 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);

      .image-container {
        padding-right: 1dvh;

        img {
          width: 5dvh;
          height: 5dvh;
          border-radius: 1dvh;
        }
      }

      .item-wide {
        display: flex;
        flex: 1;
        justify-content: space-between;

        .item-detail {
          display: flex;
          flex-direction: column;
          align-items: start;
          text-align: start;
          justify-content: center;

          .item-title {
            width: 25dvh;
            font-size: 1.8dvh;
            font-weight: 600;
            padding-bottom: 0.5dvh;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
  
          .item-artist {
            width: 25dvh;
            padding-top: 0.5dvh;
            font-size: 1.5dvh;
            font-weight: 500;
            color: var(--subtitle-color);
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }
        
        .item-length {
          display: flex;
          font-size: 1.7dvh;
          color: var(--subtitle-color);
          align-items: center;
        }
      }
      
      &:last-child {
        border-bottom: none;
      }
    }
  }
} 