.SearchedWords {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2dvh;

    .title {
      font-weight: bold;
      font-size: 2.5dvh;
    }

    .all-delete {
      font-size: 1.5dvh;
      color: var(--placeholder-color);
      cursor: pointer;
    }
  }

  .word-list {
    .word-item {
      padding: 1.5dvh 1dvh;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .word-title {
        width: 90%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      cursor: pointer;

      .word-delete {
        color: var(--placeholder-color);
        cursor: pointer;
      }
    }
  }

  .no-word-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .title {
      font-weight: bold;
    }

    .subtitle {
      font-size: 2dvh;
      color: var(--placeholder-color);
    }
  }
}
