.SearchedWords {
  display: flex;
  flex-direction: column;
  gap: 3dvh;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-weight: bold;
      font-size: 2.2dvh;
    }

    .all-delete {
      font-size: 1.5dvh;
      color: var(--placeholder-color);
      cursor: pointer;
    }
  }

  .word-list {
    display: flex;
    flex-direction: column;
    gap: 2.5dvh;

    .word-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1dvh;

      .word-title {
        flex: 1;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
      }

      .word-delete {
        color: var(--placeholder-color);
        cursor: pointer;
      }
    }
  }

  .no-word-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .title {
      font-size: 2.2dvh;
      font-weight: bold;
    }

    .subtitle {
      font-size: 2dvh;
      color: var(--placeholder-color);
    }
  }
}
