.NotificationBody {
  display: flex;
  flex-direction: column;
  gap: 1dvh;

  .notice-body {
    display: flex;
    flex-direction: column;
    gap: 1dvh;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    overflow: hidden;
    padding-bottom: 1dvh;

    .header {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      color: var(--placeholder-color);
      
      .category {
        font-size: 1.5dvh;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .date {
        font-size: 1.5dvh;
        padding-left: 2dvh;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .title {
      font-size: 1.7dvh;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .sub-title {
      font-size: 1.5dvh;
      text-overflow: ellipsis;
      overflow: hidden;
      color: #CDCDCD;
    }

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  .no-word-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .title {
      font-weight: bold;
    }

    .subtitle {
      font-size: 2dvh;
      color: var(--placeholder-color);
    }
  }
}