* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 450px;
  -webkit-tap-highlight-color: transparent;
  // -ms-overflow-style: none;
  // ::-webkit-scrollbar {
  //   display: none;
  // }
}

html {
  background: #eeeeee;
  position: relative;
  margin: 0 auto;
}

// body {
//   background-color: #0f1114;
//   // background-color: red;
//   color: white;
//   min-height: 100dvh;
// }

a {
  text-decoration: none;
  color: white;

  &:visited {
    color: white;
  }
}

.none-scroll::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'D2Coding';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ChosunGu';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Hahmlet-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Orbit-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/Orbit-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SeoulNamsanM';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #0f1114;
  color: white;
  min-height: 100vh;
  // font-family: 'Pretendard-Regular', sans-serif;   // 민준 1표
  // font-family: 'S-CoreDream-3Light', sans-serif;
  // font-family: 'SUIT-Regular', sans-serif;
  // font-family: 'D2Coding', sans-serif;
  // font-family: 'NanumSquareNeo-Variable', sans-serif;
  // font-family: 'NPSfontBold', sans-serif;
  // font-family: 'ChosunGu', sans-serif;
  // font-family: 'Hahmlet-Regular', sans-serif;   // 민준 1표
  // font-family: 'Orbit-Regular', sans-serif;
  // font-family: 'IBMPlexSansKR-Regular', sans-serif;   // 민준 1표
  // font-family: 'SeoulNamsanM', sans-serif;   // 민준 1표
  // font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
}
