* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 450px;
  -webkit-tap-highlight-color: transparent;
  font-family: "SUIT-Regular", sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
  ::-webkit-scrollbar {
    display: none;
  }
}

html {
  background: #eeeeee;
  position: relative;
  margin: 0 auto;
}

body {
  background-color: #0f1114;
  // background-color: red;
  color: white;
  min-height: 100dvh;
}

a {
  text-decoration: none;
  color: white;

  &:visited {
    color: white;
  }
}

@font-face {
  font-family: "SUIT-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
