.Header {
  display: flex;
  padding: 2dvh;
  align-items: center;

  svg {
    font-size: 3dvh;
    cursor: pointer;
  }

  .center {
    flex: 1;
    font-size: 2dvh;
    text-align: center;
  }

  .logout {
    width: 3dvh;
    height: 2.5dvh;
  }

  .blank {
    width: 3dvh;
    height: 3dvh;
  }
}
