.NonePermissionPage {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  gap: 5dvh;

  .title {
    font-size: 3dvh;
  }
}
