:root {
  --main-color: #7B66FF;
  --placeholder-color: #7B8696;
  --subtitle-color: #A5B2C5;
  --input-box-color: #1F2127;
  --level-gold: #C1A875;
  --level-platinum: #48C7B7;
  --level-diamond: #59CAFA; 
}