:root {
  --main-color: #7b66ff;
  --centerText-color: #d7e1ee;
  --placeholder-color: #7b8696;
  --subtitle-color: #a5b2c5;
  --input-box-color: #1f2127;
  --level-one: #A17455;
  --level-two: #7b66ff;
  --level-three: #FF9D43;
  --level-four: #F6F049;
  --level-five: #578887;
  --level-six: #2EFFE5;
  --level-seven: #3498DB;
  --level-eight: #FF5864;
}
