:root {
  --main-color: #7b66ff;
  --centerText-color: #d7e1ee;
  --placeholder-color: #7b8696;
  --subtitle-color: #a5b2c5;
  --input-box-color: #1f2127;
  --level-gold: #c1a875;
  --level-platinum: #48c7b7;
  --level-diamond: #59cafa;
}
