@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.GameMainPage {
  padding: 2vh;
  height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .game-lottie {
    opacity: 0;
    animation: popIn 0.6s ease-out forwards;
    animation-delay: 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    .lottie-main {
      width: 30%;
    }

    img {
      width: 40vh;
      opacity: 0;
      animation: popIn 0.6s ease-out forwards;
      animation-delay: 0.2s;
    }
  }
  .game-main-border {
    border-radius: 2vh;
    background-color: rgba(123, 102, 255, 0.1);
    width: 90%;
    height: 20vh;
    margin-top: 3dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: popIn 0.6s ease-out forwards;
    animation-delay: 0.9s;
    p {
      word-break: keep-all;
      text-align: center;
      padding: 2vh;
      font-size: 2dvh;
    }

    
  }

  .game-button {
    margin-top: 3vh;
    width: 90%;
    opacity: 0;
    animation: popIn 0.6s ease-out forwards;
    animation-delay: 1.6s;
    button {
      width: 100%;
      height: 8dvh;
      padding: 2dvh;
      border-radius: 2dvh;
      border: none;
      background-color: var(--main-color);
      color: #ffffff;
      font-size: 2dvh;
      cursor: pointer;
    }
  }
}
