* {
  box-sizing: border-box;
}

.container {
  background-color: #0f1114;
  height: 80dvh;

  @supports (-webkit-touch-callout: none) {
    height: -webkit-fill-available;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  .header {
    display: flex;
    width: 330px;
    // max-width: 40dvh;
    justify-content: space-between;
    align-items: center;
    padding: 1dvh;
    .round {
      text-align: center;
      font-size: 20px;
    }

    .level {
      font-size: 20px;
    }
  }

  .content {
    position: relative;

    .start {
      // Fix ios text-shadow bug
      transform: translateZ(0);
      z-index: 10;
      color: whitesmoke;
      text-shadow: 0px 0px 10px black;
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .start__text {
        transition: transform 0.3s;
        cursor: pointer;
        font-size: 20vw;
        font-weight: 700;
        text-align: center;
        white-space: nowrap;
        &:hover {
          transform: scale(1.1);
        }
      }

      .result {
        .clear {
          font-weight: 700;
          font-size: 12vmin;
          white-space: nowrap;
          margin: {
            bottom: 5vmin;
          }
        }

        .score__text {
          font-weight: 700;
          font-size: 8vmin;
          white-space: nowrap;
          text-align: center;
        }
        .score__round {
          font-weight: 700;
          font-size: 10vmin;
          text-align: center;
          margin: {
            bottom: 5vmin;
          }
        }
      }
    }

    .status {
      opacity: 0.8;
      position: absolute;
      pointer-events: none;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      color: whitesmoke;
      height: 50px;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10vmin;
      text-shadow: 0px 0px 10px black;
      text-align: center;
      // Fix ios text-shadow bug
      transform: translateZ(0);
    }
    .br {
      .board {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        width: 330px;
        height: 330px;
        background-color: rgb(123, 102, 255, 0.2);
        border-radius: 15px;
        padding: 1%;
  
        .row {
          flex-grow: 1;
          display: flex;
  
          .card {
            border: 3px solid rgb(123, 102, 255, 0.2);
            transition: 0.3s;
            cursor: pointer;
            border-radius: 2dvh;
            flex-grow: 1;
            background-color: rgb(123, 102, 255, 0.2);
            margin: 1%;
          }
        }
      }
    }

  }
}
