.MemoryInfoPage {
  height: 85dvh;
  padding: 3dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  .memory-info-page {
    .memory-info-header {
      display: flex;
      align-items: center;
      justify-content: start;
      .heading {
        font-size: 2.7dvh;
        font-weight: bold;
      }
    }
  }
}